
.tenantcontainer {
  width: 100%;
  margin-left: 4%;
  margin-right: 4%;
  margin-top: 30px;
  height: auto;
  background-color: #EBEBEB;
}
.outertenanttable{
  position: relative;
  border-radius: 20px;
  overflow: scroll;
}
.outertenanttable::-webkit-scrollbar{
  display: none;
}
.tenanttable {
  width: 100%;
  min-width: 1263px;
  height: 100%;
  border-radius: 15px;
}
.tenantheader {
  display: grid;
  Width:1275px;
  grid-template-columns: auto auto auto;
  font-family: "Nunito Sans", sans-serif;
  font-weight: 600;
  font-size: 20px;
  color: #e52c32;
  align-items: center;
  padding: 1% 0;
  margin-bottom: 1%;
  position: relative;
}
.tenantleft {
  display: flex;
justify-content: flex-start;
align-items: center;
font-family: "Nunito Sans", sans-serif;
font-weight: 600;
font-size: 24px;
line-height: 24px;
color: #838FA6;
}
.tenantcenter{
display: flex;
align-items: center;
box-sizing: border-box;
margin-left: 2%;
}
.searchicon{
  display: flex;
  width: 24px;
  height: 24px;
  position: absolute;
  margin-left: 12px;
  color: #DF3030;
}
.searchinput{
  display: flex;
  width: 740px;
  height: 45px;
  border-radius: 10px;
  padding-left: 6%;
  outline: none;
  border: none;
  box-shadow: none;
  box-sizing: border-box;
  font-family: "Nunito Sans", sans-serif;
  font-weight: 400;
  font-size: 20px;
  color: #838FA6;
  ;
}
.searchinput::placeholder{
  color: #838FA6 ;
}
.searchclosebutton{
display: flex;
align-items: center;
outline: none;
background-color: transparent;
box-shadow: none;
border: none;
position: absolute;
margin-top: 3px;
margin-left: 54% ;
}
.closeicon{
  height: 24px;
  width: 24px;
  color: #DF3030;
}
.tenantright {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-left: 2%;
}

.placeholder{
  font-family: "Source Sans Pro";
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #838FA6;
}

.hide{
  display: none;
  visibility: hidden;
  transition: all 1s ease-in;
}

.trial{
  visibility: hidden;
  opacity: 0;
  height: 0;
  transition: all 0.5s ease-in-out;
  color: transparent;
  background-color: transparent;
  overflow: hidden;
}
.trial1{
  display: grid;
  visibility: hidden;
  opacity:  0;
  transition: all 0.5s ease-in-out;
  height: 0px;
  grid-template-columns: 0.2fr 1.5fr 1fr 1fr 1fr;
  padding: 0 3%;
  align-items: center;
  color: #fff;
  background-color: #fff;
}
.trial2{
  display: grid;
  visibility: hidden;
  opacity:  0;
  transition: all 0.5s ease-in-out;
  height: 0px;
  grid-template-columns: 0.3fr 1fr 0.8fr 1fr 1fr 0.7fr 1fr 1fr;
  padding: 0 3%;
  align-items: center;
  color: #fff;
  background-color: #fff;
}
.unhide{
  display: flex;
  align-items: center;
  outline: none;
  border: none;
  box-shadow: none;
  background-color: transparent;
  font-family: "Source Sans Pro";
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: #DF3030;
  position: absolute;
  margin-left: 15%;
}

.tenantheadertitlegrid {
  display: grid;
  width: 1295px;
  height: 40px;
  grid-template-columns: 0.5fr 2.1fr 1.35fr 0.37fr;
  padding-left: 2%;
  padding-right: 2%;
  grid-gap: 10px;
  margin-bottom: -1%;

  justify-items: flex-start;
  align-items: center;
}
.tenantheadertitle {
  font-family: "Source Sans Pro";
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: #838FA6;
}

.tenantrendercontainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
}


.tenantrendergrid {
  display: grid;
  height: 80px;
  width: 100%;
  grid-gap: 5%;
  grid-template-columns: 0.45fr 2fr 1.5fr 1fr 1fr;
  justify-items: center;
  align-content: center;
  align-items: center;
  margin-top: 30px;
  box-sizing: border-box;
  background-color: #fff;
  border-radius: 10px;
}

.tenanttext {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
  font-family: "Source Sans Pro";
  font-weight: 600;
  font-size: 22px;
  line-height: 24px;
  color: #424242;
 
}
.tenantprofilecontainer{
  display: flex;
  align-items: center;
  box-sizing: border-box;
  width: 100%;
  font-family: "Source Sans Pro";
  font-weight: 600;
  font-size: 22px;
  line-height: 24px;
  color: #424242;
}

.tenantprofile{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #F8FAFB;
  width: 50px;
  height: 50px;
  border-radius: 50px;
  margin-right: 3%;
}
.tenantaddresscontainer{
  display: flex;
  flex-direction: column;
  font-family: "Source Sans Pro";
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #838FA6;
  width: 200px;
  height: 48px;
}
.clusteraddress{
  width: 195px;
  height: 48px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.address{
  width: 140px;
  height: 48px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.status {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Source Sans Pro";
  font-weight: 600;
  font-size: 17px;
  line-height: 19px;
  color: #fff;
}
.openstatus{
 display: flex;
 justify-content: center;
 align-items: center;
 width: 156px;
 height: 31px;
 border-radius: 20px;
 background-color: #0EC864;
}
.closedstatus{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 156px;
  height: 31px;
  border-radius: 20px;
  background-color: #F30740;
}

.viewbutton{
  display: flex;
  outline: none;
  border: none;
  box-shadow: none;
  background-color: transparent;
  font-family: "Source Sans Pro";
  font-weight: 600;
  font-size: 20px;
  line-height: 25px;
  color: #E52C32;
}

.tenantfooter {
  display: flex;
  align-items: flex-start;
  min-width: 1263px;
  margin-top: 2%;
}

.tablecontainerbutton {
  display: flex;
  justify-content: flex-end;
}

.leftdisplaybutton {
  border: none;
  height: 30px;
  width: 35px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  background-color: #d4d4d4;
}
.rightdisplaybutton {
  border: none;
  height: 30px;
  width: 35px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  background-color: #d4d4d4;
}

.leftdisabledbutton {
  border: none;
  height: 30px;
  width: 35px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  background-color: #e9e9e9;
}
.rightdisabledbutton {
  border: none;
  height: 30px;
  width: 35px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  background-color: #e9e9e9;
}

.MuiTablePagination-root{
width: 100%;
}

.viewdetailscontainer {
  display: flex;
  height: 100%;
  width: 100%;
  border: none;
  background-color: cyan;
}

.sidepanel{
  display: flex;
  flex-direction: column;
  width: 354px;
  height: 100%;
  background-color: #fff;
}

.profilecontainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20%;
}
.profileimage{
  width: 125px;
  height: 125px;
  filter: drop-shadow(0px 0px 5px rgba(66, 66, 66, 0.25));
  border-radius: 100px;
}
.profilename{
  font-family: "Source Sans Pro";
  font-weight: 600;
  font-size: 24px;
  line-height: 25px;
  color: #424242;
  margin-top: 1%;
}

.profileeditbuttonactive{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 136px;
  height: 40px;
  border-radius: 3px;
  outline: none;
  box-shadow: none;
  border: none;
  background-color: #C4C4C4;
  font-family: "Nunito Sans", sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  color: #fff;
  margin-top: 5%;
}

.profileeditbutton{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 136px;
  height: 40px;
  border-radius: 3px;
  outline: none;
  box-shadow: none;
  border: none;
  background-color: #DF3030;
  font-family: "Nunito Sans", sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  color: #fff;
  margin-top: 5%;
}

.profiledetailcontainer{
  margin-top: 5%;
  padding: 0 8%;
}

.profiledetails{
  display: flex;
  align-content: center;
  align-items: center;
  margin-bottom: 3%;
}

.profiletext{
  display: flex;
  align-items: center;
  align-content: center;
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: #c4c4c4;
  margin-right: 2%;
}

.profilecolor{
  width: 18px;
  height: 18px;
  border-radius: 5px;
}

.profilepassword{
  width: 100px;
  background-color: transparent;
  outline: none;
  border: none;
  box-shadow: none;
}

.passwordicon{
  width: 17px;
  height: 17px;
  color: #C4C4C4;
}

.passwordshowicon{
  color: #424242;
}

.profiletext2{
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  color: #424242;
}

.profiletext3{
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  color: #424242;
  margin-top: 5%;
}
.profiletext4{
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  color: #424242;
  margin-top: 2%;
  display: flex;
  justify-content: flex-start;

}

.profileopenhour{
  margin-top: 8%;
}

.openhourcontainer{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.openhourdetails{
  margin-top: 2%;
  display: flex;
  width: 35%;
  flex-direction: column;
}
.openhourdetails2{
  margin-top: 2%;
  display: flex;
  flex-direction: column;
}







.addcontractmodalbox {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 540px;
  height: 445px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 0px;
  border-radius: 20px;
  background-color: #fff;
}

.addcontractinnerbox {
  display: flex;
  box-sizing: border-box;
  width: 100%;
  height: 80%;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  padding: 0 5% 0 5%;
}
.addcontractmodaltitle {
  display: flex;
  justify-content: flex-start;
  font-family: "Nunito Sans", sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 41px;
  color: #424242;
}

.addcontractinnermodalbox {
  display: flex;
  flex-direction: column;
}

.modallabeltext{
  display: flex;
  justify-content: flex-start;
  font-family: "Nunito Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #C4C4C4;
  margin-top: 3%;
  margin-bottom: 2%;
}

.modalinput{
  display: flex;
}

.attachbutton{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 55px;
  height: 55px;
  background-color: #DF3030;
  border-radius: 10px;
  outline: none;
  border: 0;
  box-shadow: none;
}
.attachicon{
  width: 20px;
  height: 20px;
  color: #fff;
  margin-left:80%;
}

input[class~=contractfileinput]::file-selector-button {
  border: 0.5px solid #E52C32;
  border-radius: 30px;
  background-color: #fff;
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #424242;
  visibility: hidden;
}

.filename{
  display: flex;
  align-items: center;
  width: 100%;
  margin-left: 2%;
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 600;
  font-size: 14px;
  color: #424242;
}

.contractfilename{
  display: flex;
  align-items: center;
  width: 100%;
  margin-top: -2%;
  margin-left: 1%;
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 600;
  font-size: 14px;
  color: #424242;
}

.addcontractmodalbutton{
  display: flex;
  justify-content: flex-end;
  margin-top: 3%;
  width: 100%;
}
.cancelbutton{
  width: auto;
  height: 40px;
  background-color: transparent;
  border: 0px;
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  color: #df3030;
  margin-right: 10%;
}

.savebutton{
  width: 150px;
  height: 40px;
  background-color: #df3030;
  border: 0px solid;
  border-radius: 5px;
  outline: none;
  box-shadow: none;
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 600;
  font-size: 14px;
  line-height: 22px;
  color: #fff;
}
.MuiMenu-paper::-webkit-scrollbar {
  display: none;
}


.rightcolumncontainer{
  display: flex;
  flex-direction: column;
}

.editprofileimagecontainer{
  display: flex;
  flex-direction: column;
margin-top: 3%;
filter: drop-shadow(0px 0px 5px rgba(66, 66, 66, 0.25));
border-radius: 100px;
}
.editprofileimage{
  width: 236px;
  height: 236px;
border-radius: 100px;
}

.imagebuttoncontainer{
  width: 225px;
  display: flex;
  justify-content: flex-end;
margin-top: -10%;
}

.productimagebutton{
height: 35px;
width: 35px ;
}

input[class~=profileimageinput]::file-selector-button {

  background-color: transparent;
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #424242;
  visibility: hidden;
}

input[class~=profileimageinput]{
  background-color: transparent;
  border-radius: 30px;

 color: transparent;
 width: 337px;
 margin: 0 0 5% 0;
}